<div class="intro-template">
    <div class="intro-left">
        {{title}}
    </div>

  <div class="intro-right">
    <div class="buttons-field">
      <button mat-button [disabled]="initialSubject === 0" (click)="goback()">
        Anterior
      </button>
      aqui puede venir el buscador
      <button
        mat-button
        [disabled]="initialSubject === totalSubjects"
        (click)="gonext()"
      >
        Siguiente
      </button>
    </div>
    <div class="editor-field">
      <div class="editor-block">
        <h3>Instrucciones del ejercicio</h3>
        <p>{{ curso?.instrucciones || 'Realiza el ejercicio según lo aprendido en esta lección.' }}</p>
      </div>
      
      <div class="editor-block">
        <app-editor-actividad
          [base]="curso?.codigo_incompleto"
          [solucion]="curso?.solucion_correcta">
        </app-editor-actividad>
      </div>
    </div>
  </div>
</div>
