.main-footer {
  background: linear-gradient(
    to top,
    #0a090e 0%,
    #0a090ee1 35%,
    #0a090e99 70%,
    transparent 100%
  );
  padding: 0.5rem;
  text-align: center;
  margin-top: auto;
  color: #fff;
  height: 10dvh;
}
