<div class="cursos-grid">
  <div class="curso-card" *ngFor="let curso of cursos">
    <img [src]="curso.imagen" [alt]="curso.curso" />
    <h3>{{ curso.curso }}</h3>
    <p><strong>Docente:</strong> {{ curso.nombre }}</p>
    <p><em>{{ curso.categoria }}</em></p>

    <button class="btn-ir">Ir al curso</button>
  </div>
</div>

<br />
<div class="buttons-container">
  <button (click)="descargarComoTxt()">Descargar como .txt</button>
  <button (click)="descargarComoPDF()">Descargar como .pdf</button>
</div>
<br />
