<div class="home">
  <main class="content">
    <section id="banner" class="home-section">
      <div class="banner-text">
        <h1 class="intro">{{ "HOME.BANNER.TITLE" | translate }} <p>PyBloom</p></h1>
        <h2 class="intro2">
          {{ "HOME.BANNER.SUBTITLE" | translate }}
        </h2>
        <div class="contenedorBotones">
          <a href="/lista-ejercicios">
            <button class="boton-banner-home">
              <span class="text">{{
                "HOME.BANNER.START_NOW" | translate
              }}</span>
            </button>
          </a>

          <a href="#beneficios">
            <button class="boton-banner-home">
              <span class="text">{{
                "HOME.BANNER.LEARN_MORE" | translate
              }}</span>
            </button>
          </a>
        </div>
      </div>
      <img
        src="images/programar.png"
        [title]="'HOME.BANNER.IMAGE_TITLE' | translate"
        [alt]="'HOME.BANNER.IMAGE_ALT' | translate"
        class="imgBanner"
      />
    </section>

    <section class="beneficios home-section" id="beneficios">
      <div class="beneficios-titulo">
        <h1>{{ "HOME.BENEFITS.TITLE" | translate }}</h1>
        <h2>
          {{ "HOME.BENEFITS.SUBTITLE" | translate }}
        </h2>
      </div>

      <div class="beneficios-cards">
        <div class="card-row">
          <div class="beneficios-card">
            <div class="icono">
              <h1
                [title]="
                  'HOME.BENEFITS.CARDS.EASY_LEARN.ICON_TITLE' | translate
                "
              >
                📚
              </h1>
              <h2>{{ "HOME.BENEFITS.CARDS.EASY_LEARN.TITLE" | translate }}</h2>
            </div>
            <p>
              {{ "HOME.BENEFITS.CARDS.EASY_LEARN.DESCRIPTION" | translate }}
            </p>
          </div>
          <div class="beneficios-card">
            <div class="icono">
              <h1
                [title]="
                  'HOME.BENEFITS.CARDS.VERSATILITY.ICON_TITLE' | translate
                "
              >
                🔧
              </h1>
              <h2>{{ "HOME.BENEFITS.CARDS.VERSATILITY.TITLE" | translate }}</h2>
            </div>
            <p>
              {{ "HOME.BENEFITS.CARDS.VERSATILITY.DESCRIPTION" | translate }}
            </p>
          </div>
          <div class="beneficios-card">
            <div class="icono">
              <h1
                [title]="'HOME.BENEFITS.CARDS.COMMUNITY.ICON_TITLE' | translate"
              >
                🌍
              </h1>
              <h2>{{ "HOME.BENEFITS.CARDS.COMMUNITY.TITLE" | translate }}</h2>
            </div>
            <p>
              {{ "HOME.BENEFITS.CARDS.COMMUNITY.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
        <div class="card-row">
          <div class="beneficios-card">
            <div class="icono">
              <h1
                [title]="
                  'HOME.BENEFITS.CARDS.JOB_OPPORTUNITY.ICON_TITLE' | translate
                "
              >
                💼
              </h1>
              <h2>
                {{ "HOME.BENEFITS.CARDS.JOB_OPPORTUNITY.TITLE" | translate }}
              </h2>
            </div>
            <p>
              {{
                "HOME.BENEFITS.CARDS.JOB_OPPORTUNITY.DESCRIPTION" | translate
              }}
            </p>
          </div>
          <div class="beneficios-card">
            <div class="icono">
              <h1
                [title]="'HOME.BENEFITS.CARDS.LIBRARIES.ICON_TITLE' | translate"
              >
                💰
              </h1>
              <h2>{{ "HOME.BENEFITS.CARDS.LIBRARIES.TITLE" | translate }}</h2>
            </div>
            <p>{{ "HOME.BENEFITS.CARDS.LIBRARIES.DESCRIPTION" | translate }}</p>
          </div>
          <div class="beneficios-card">
            <div class="icono">
              <h1
                [title]="
                  'HOME.BENEFITS.CARDS.MULTIPLATFORM.ICON_TITLE' | translate
                "
              >
                🖥️
              </h1>
              <h2>
                {{ "HOME.BENEFITS.CARDS.MULTIPLATFORM.TITLE" | translate }}
              </h2>
            </div>
            <p>
              {{ "HOME.BENEFITS.CARDS.MULTIPLATFORM.DESCRIPTION" | translate }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="porque-python" class="home-section">
      <div class="porque-python-titulo">
        <h1>{{ "HOME.WHY_PYTHON.TITLE" | translate }}</h1>
        <h2>
          {{ "HOME.WHY_PYTHON.SUBTITLE" | translate }}
        </h2>
      </div>
      <div class="porque-python-columna">
        <div>
          <div class="porque-python-section">
            <div class="numero">
              <h2>01</h2>
            </div>
            <div>
              <h2>
                {{
                  "HOME.WHY_PYTHON.SECTIONS.FUTURE_LANGUAGE.TITLE" | translate
                }}
              </h2>
              <p>
                {{
                  "HOME.WHY_PYTHON.SECTIONS.FUTURE_LANGUAGE.DESCRIPTION"
                    | translate
                }}
              </p>
            </div>
          </div>
          <div class="porque-python-section">
            <div class="numero">
              <h2>02</h2>
            </div>
            <div>
              <h2>
                {{
                  "HOME.WHY_PYTHON.SECTIONS.INTUITIVE_SYNTAX.TITLE" | translate
                }}
              </h2>
              <p>
                {{
                  "HOME.WHY_PYTHON.SECTIONS.INTUITIVE_SYNTAX.DESCRIPTION"
                    | translate
                }}
              </p>
            </div>
          </div>
          <div class="porque-python-section">
            <div class="numero">
              <h2>03</h2>
            </div>
            <div>
              <h2>
                {{
                  "HOME.WHY_PYTHON.SECTIONS.ROBUST_ECOSYSTEM.TITLE" | translate
                }}
              </h2>
              <p>
                {{
                  "HOME.WHY_PYTHON.SECTIONS.ROBUST_ECOSYSTEM.DESCRIPTION"
                    | translate
                }}
              </p>
            </div>
          </div>
        </div>
        <img
          src="svgs/miau.svg"
          [alt]="'HOME.WHY_PYTHON.IMAGE_ALT' | translate"
          class="imgPython"
          [title]="'HOME.WHY_PYTHON.IMAGE_TITLE' | translate"
        />
      </div>
    </section>

    <section id="areas-trabajo" class="home-section">
      <h1>{{ "HOME.WORK_AREAS.TITLE" | translate }}</h1>
      <h2>
        {{ "HOME.WORK_AREAS.SUBTITLE" | translate }}
      </h2>
      <div class="scroll-contenedor">
        <div class="auto-scroll" id="auto-scroll">
          <div
            id="work-card1"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.WEB_DEV.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.WEB_DEV.NAME" | translate }}</p>
          </div>
          <div
            id="work-card2"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.DATA_SCIENCE.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.DATA_SCIENCE.NAME" | translate }}</p>
          </div>
          <div
            id="work-card3"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.MACHINE_LEARNING.TITLE' | translate"
          >
            <p>
              {{ "HOME.WORK_AREAS.CARDS.MACHINE_LEARNING.NAME" | translate }}
            </p>
          </div>
          <div
            id="work-card4"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.AUTOMATION.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.AUTOMATION.NAME" | translate }}</p>
          </div>
          <div
            id="work-card5"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.CYBERSECURITY.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.CYBERSECURITY.NAME" | translate }}</p>
          </div>
          <div
            id="work-card6"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.AI.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.AI.NAME" | translate }}</p>
          </div>

          <div
            id="work-card1"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.WEB_DEV.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.WEB_DEV.NAME" | translate }}</p>
          </div>
          <div
            id="work-card2"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.DATA_SCIENCE.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.DATA_SCIENCE.NAME" | translate }}</p>
          </div>
          <div
            id="work-card3"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.MACHINE_LEARNING.TITLE' | translate"
          >
            <p>
              {{ "HOME.WORK_AREAS.CARDS.MACHINE_LEARNING.NAME" | translate }}
            </p>
          </div>
          <div
            id="work-card4"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.AUTOMATION.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.AUTOMATION.NAME" | translate }}</p>
          </div>
          <div
            id="work-card5"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.CYBERSECURITY.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.CYBERSECURITY.NAME" | translate }}</p>
          </div>
          <div
            id="work-card6"
            class="work-areas-card"
            [title]="'HOME.WORK_AREAS.CARDS.AI.TITLE' | translate"
          >
            <p>{{ "HOME.WORK_AREAS.CARDS.AI.NAME" | translate }}</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
