.container {
  background: linear-gradient(to right, #36213E 0%, #2E2143 50%, #181335 100%);
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}

.navbar-container {
  grid-area: header;
}

.content-container {
  grid-area: content;
  // overflow-y: auto;
}

.footer-container {
  grid-area: footer;
}