.container {
  background: #15111c;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.navbar-container {
  grid-area: header;
}
.navbar-placeholder {
  height: 10dvh;
}

.content-container {
  grid-area: content;
}

.footer-container {
  grid-area: footer;
}
