<div class="container">
  <div class="pill-radio-container">
    <input
      [checked]="selectedDifficulty === 'easy'"
      name="plan"
      id="pill-free"
      type="radio"
      (change)="onDifficultyChange('easy')"
    />
    <label for="pill-free">Fácil</label>

    <input
      [checked]="selectedDifficulty === 'medium'"
      name="plan"
      id="pill-basic"
      type="radio"
      (change)="onDifficultyChange('medium')"
    />
    <label for="pill-basic">Intermedio</label>

    <input
      [checked]="selectedDifficulty === 'hard'"
      name="plan"
      id="pill-premium"
      type="radio"
      (change)="onDifficultyChange('hard')"
    />
    <label for="pill-premium">Avanzado</label>

    <div class="pill-indicator"></div>
  </div>

  @if (isLoading) {
  <div class="loading-indicator">
    <p>Cargando ejercicios...</p>
  </div>
  } @if (error) {
  <div class="error-message">
    <p>{{ error }}</p>
  </div>
  }

  <div class="questions" (scroll)="onScroll($event)">
    @for (question of visibleExercises; track question.id) {
    <app-exercise [detail]="question" />
    }
  </div>
</div>
